<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/Content/app.css" rel='stylesheet'  media="only screen and (min-width:960px)">
        <!-- tablet style sheet-->
    <link href="/Content/tablet.css" rel='stylesheet'  media="only screen and (min-width:481px) and (max-width:960px)">
    <!-- phone style sheet-->
    <link href="/Content/phone.css" rel='stylesheet' media="only screen and (max-width:480px)">

  </head>
  <body>