<%- include partials/header.ejs %>
<%- include partials/footer.ejs %>
<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel='stylesheet' href='/Content/app.css' />
         <link href="/Content/app.css" rel='stylesheet'  media="only screen and (min-width:960px)">


        <title>About me</title>
    </head>

    <body>

        <div id="banner">
            <nav> <!--semantic tag for navigation links throughout the website-->
                <a href="home">Home Page</a> | 
                <a href="about">About me</a> | 
                <a href="projects">projects</a> |
                <a href="contact">contact me</a>
            </nav>
        </div>
    
        
        <!--I'm going to use the figure tag to add my image and give it a description-->
        <figure>
            <img src="aboutme.jpg" width="200px" height="200px">

            <figcaption>
                <p> Hey! My name is Sofiyan and I am currently a second year university student pursuing an undergrad degree for Networking and IT security at 
                    Ontario Tech University. I was inspired by my big brother to get into this field, and I hope I can learn a lot in these 4 years and solidify my knowledge
                    relating to Networking and Cyber Security. When it comes to general hobbies. I enjoy watching soccer, playing video games, and watching ufc. 
                    My favourite ufc fighter is Islam makachev because of his fighting style and his personality.</p>
            </figcaption>

        </figure>

        <!--the video tag allows you to upload a video with playback settings for video control like pause play, you can also add a thumbnail/poster-->
        <video       
        controls 
        width="320" height="240" 
        poster="on_record.png" 
        >
            <source src="jump.mp4" type="video/mp4">
        </video>

        <footer>
            <p>contact me at: sofiyan123@gmail.com <br> &copy; 2025 by Sofiyan Khan</p>
        </footer>

    </body>

    








</html>