<%- include partials/header.ejs %>
<%- include partials/footer.ejs %>
<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Contact me</title>
    </head>

    <body> 
        
        <header> <!--header tag to add a header for the forms-->
            <mark> Enter your information below</mark>  <!--used this to highlight the text-->
        </header>
        
        <br> <!--gives a line between one tag and the other and you can see that in the output-->

        <form> <!--required to make forms-->

            <div>
                <label>your Name:</label> <!--the label for the form-->
                <input type="text" required> <!--the input for the form according to the label, type is text so it lets user enter text-->
            </div>

            <br>
            
            <div>
                <label>your Email</label>
                <input type="email" required>
            </div>

            <br>

             <div>
                <label>any comments?</label>
                <input type="text">
            </div>

            <br>

            <div>
                <input type="submit"> <!--submit button-->
            </div>

        </form>

    </body>

</html>