<%- include partials/header.ejs %>
<%- include partials/footer.ejs %>
<%- include partials/main_nav.ejs %>

<!--I won't repeat comments for every page on common things like nav tags because i already commented about it on one page-->
<!DOCTYPE html> <!--informs web browser about the html version in use-->
<html> <!--basic html tag along with head and body-->
    <head>

    <title>Home page</title> <!--shows Home Page as a title on the tab area-->

    </head>

    <body>
        <h1>Welcome to my webiste!</h1> <!--heading-->

    </body>


</html> <!-- closing tag just like ones for body an head-->

<!--removed the nav bar and footers I had for assignment one from this and all the other views for the html files 
because I have the footer and nav from the boostrap now-->