<!--I won't repeat comments for every page on common things like nav tags because i already commented about it on one page-->
<!DOCTYPE html> <!--informs web browser about the html version in use-->
<html> <!--basic html tag along with head and body-->
    <head>

    <title>Home page</title> <!--shows Home Page as a title on the tab area-->

    </head>

    <body>
        <h1>Welcome to my webiste!</h1> <!--heading-->

        <footer>
            <p>contact me at: sofiyan123@gmail.com <br> &copy; 2025 by Sofiyan Khan</p>
        </footer>

    </body>






</html> <!-- closing tag just like ones for body an head-->