<%- include partials/header.ejs %>
<%- include partials/footer.ejs %>
<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
    <head>

     <title>My projects</title>

    </head>

    <body>

        <div id="wrapper">
            <!--I used the article tag then the section tags within them to talk about each project-->
            <article>
                <h1> Project History:</h1>
                <section>
                    <h3>1. Writing and critical thinking essay</h3>
                    <p> For the final assignment, we were required to write an essay on any topic of our choice.
                        My topic of choice was about why we procrastinate. 
                        The assignment was worth 25% of my grade. I enjoyed writing it and it took me a few days to polish.
                        It's the only essay I've written so far for any course in this program so it's quite memorable.</p>
                </section>

                <section>
                    <h3>2. Management of the Enterprise report</h3>
                    <p>This was a group assignment where we were required to make a report and slideshow on a business company and their operations.
                        My group had four people including me, and we each chose a topic to discuss. 
                        We went over the history of the company, its purpose, its success as of date, and connected it with specific topics within the course.
                     </p>
                </section>

                <section>
                    <h3>3. networking 1 final assignment</h3>
                    <p> This was the final assignment for networking 1 that me and my friend completed on packet tracer which is 
                        basically a cisco based application that simulates real networks. We were tasked with configuring three different local area 
                        networks using ipv4 addressing and to configure static routes within these 3 networks so pc1 from LAN1 for example could ping 
                        pc1 from LAN2.</p>

                </section>

                <section>
                    <h3>4. Programming 2 final project</h3>
                    <p> For this assignment we were tasked with making a gui program using python. Our group had 4-5 members in total. 
                        our topic of choice was to build a gui system for ticket booking systems for a cinema hall. basically, there are multiple options for a 
                        user to choose any movie they want, their seat placing of choice, snacks, etc.  </p>
                </section>

            </article>
        
        </div>
    
    </body>






</html>