/* phone
*/

/*all of this is copy pasted from style.css but with slight changes*/
body {
background-color: #382F2F;
color: #F5F5DC;
font-family: Verdana, Geneva, Arial, sans-serif;
}

#banner {
background: yellow; 
background: -moz-linear-gradient(45deg, red 0%, yellow 100%); 
background: -webkit-linear-gradient(45deg, red 0%, yellow 100%); 
background: -o-linear-gradient(45deg, red 0%, yellow 100%); 
background: linear-gradient(45deg, red 0%,yellow 100%);
padding:10px
}

nav a{
color: #002244;
font-weight: bold;
display: block;
margin: 5px 0px;

}

footer{
position:fixed;
bottom: 0;
left: 0;
width: 100%
}
